<h1>LOG IN</h1>
<form method="post" class="w-50">
    <label>Email</label>
    <input type="text" name="email" class="form-control mb-3"/>
    <label>Password</label>
    <input type="password" name="password" class="form-control mb-3"/>
    <button type="submit" class="mb-3 btn btn-primary">Iniciar Sesión</button>
</form>
<p>@ViewData["MENSAJE"]</p>